*{
  margin: 0;
  padding: 0;
}
body{
  background: rgb(242,242,242);
  background: linear-gradient(450deg, rgba(242,242,242,1) 43%, rgb(244, 244, 244) 70%);
  color: #000000;
  font-family: sans-serif;
}